h1, p {
    background-color: #f1eeee;
    display: box;
}

em, strong {
    background-color: #29fd2f;
    display: inline;
}

/* h1 {
    padding: 50px;
    border: 1px solid #0b24fb;
} */

h1 {
    padding: 30px;
    border: 5px solid;
    margin-bottom: 10px;
}

/* p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
} */

p {
    margin-top: 25px;
    padding: 20px 0 20px 10px; 
    margin-bottom: 50px;
}

div {
    color: #f1eeee;
    background-color: #29fd2f;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #0b24fb;
    border-radius: 5px;
    width: 200px;
    box-sizing: border-box;
    margin: 20px auto;
}

/* div {
    width: 100px;
    height: 100px;
    text-align: left;
} */

body {
    text-align: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*нужно чтобы убрать рамку вокург контента в браузере*/
}