body {
    color: #414141;
    background-color: #EEEEEE;
    font-size: 18px;
}

h1 {
    color: #414141;
    font-size: 2em;
}

h2 {
    color: #FF0000;
    font-size: 1.6em;
}

/* h1, h2, h3 {
    font-family: "Arial";
}

p {
    text-align: center;
} */

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
}


ul {
    list-style-type: circle;
}

ol {
    list-style-type: lower-roman;
}